html {
  height: 100%;
  width: 100%;
}

body {
  background-color: beige;
}

h1 {
  color: orangered;
  text-align: center;
}

h2 {
  text-align: center;
}

p {
  text-align: justify;
  margin: 0.5%;
}

